---
- name: "git_sync: commit local changes"
  run_once: true
  git_commit:
    repo: "{{ git_store }}"
    git_message: "Backup Manager"

- debug:
    msg: "{{ git_store }} {{ backup_manager_git_deploy_key_file }}"

- pause:
    min: 10

- name: "git_sync: push local to remote"
  run_once: true
  git_push:
    repo: "{{ git_store }}"
    branch: "{{ backup_manager_git_branch }}"
    accept_hostkey: "true"
    key_file: "{{ backup_manager_git_deploy_key_file }}"
    force: true
