---
backup_manager_pre_tasks: []
backup_manager_pre_roles: []
backup_manager_version: "{{ ansible_net_version | default(None, True) }}"
backup_manager_os: "{{ ansible_network_os | default(None, True) }}"
backup_manager_platform: "{{ ansible_network_platform | default(None, True) }}"
backup_manager_function: "{{ function | default('backup') }}"
backup_manager_backup_path: "config/{{ inventory_hostname }}"
# yamllint disable-line rule:line-length
backup_manager_git_url: "git@{{ backup_manager_git_server }}:{{ backup_manager_git_username }}/{{ backup_manager_git_repo }}"
backup_manager_git_server: "github.com"
backup_manager_git_repo: "network_sot"
backup_manager_git_branch: "master"
backup_manager_git_username: "gdykeman"
backup_manager_git_key_file: "{{ secret_key }}"
backup_manager_git_deploy_key: "{{ lookup('file', backup_manager_git_key_file) }}"
backup_manager_git_deploy_key_file: "{{ backup_manager_git_key_file }}"
backup_manager_git_committer_email: "backup@ansible.com"
backup_manager_git_committer_name: "backup"
backup_manager_post_tasks: []
backup_manager_post_roles: []
