---
# This task will backup the configuration
- name: "ios.backup: fetch network configuration"
  ios_config:
    backup: yes
    backup_options:
      dir_path: "{{ playbook_dir }}/config/{{ inventory_hostname }}"
      filename: running.cfg
  register: config_output

#Clean Up configuration to remove lines and comments
- name: Clean up config
  lineinfile:
    path: "{{config_output.backup_path}}"
    regexp: '^\!.*'
    state: absent
  loop:
    - '^(Current|Building) configuration.*'
    - '^\!.*'